@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html, body {
    margin:0;
    padding:0;
    background:#101010;
    color:white;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
    overflow-x:hidden;
}

.desktop-nav {
    width:100%;
    padding:20px;
    background:rgb(73, 151, 53);
    display:inline-flex;
    align-items: center;
    color:white;
    justify-content: center;
}


.desktop-nav .brand {
    display:inline-flex;
}

.desktop-nav .brand img {
    height:100px;
    border-radius:50px;
}

.desktop-nav .nav-list {
    list-style: none;
}

.desktop-nav .nav-list li {
    display:inline-block;
    margin:0 20px;
}

.desktop-nav .nav-list li a {
    font-weight:bolder;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}

.movil-nav {
    display:none;
    background:black;
    color:white;
    padding:10px;
    width:100%;
    z-index:99999;
    background:rgb(73, 151, 53);
}

.movil-nav .brand img{
    height:100px;
    border-radius: 50px;
}

.movil-nav .open-menu img{
    height:50px;
    float:right;
    position:absolute;
    right:30px;
    top:40px;
}

.menu-open {
    display:none;
    width:200px;
    padding:0;
    margin:0;
    height:100%;
    position:fixed;
    background:rgb(49, 99, 36);
    left:0;
}

.movil-nav-list {
    position:absolute;
    list-style: none;
    padding:15px;
}

.movil-nav-list li {
    padding:10px;
    margin:25px 0;
    text-transform: uppercase;
    text-align:center;
}


.movil-nav-list li a {
    color:white;
    font-weight:bolder;
    text-decoration:none;
}


section {
    width:100%;
    padding:20px;
}

#graduated .search {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}


#graduated .container {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
}
.certificado-nav {
    width:500px;
    padding:20px;
    background:rgb(30, 112, 19);
    border-radius:10px;
    text-align:center;
}


.certificados {
    width:100%;
    padding:10px;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin:10px 10px;
    border-radius:10px;
    text-align:center;
    color:white;
}

.persona-certificada {
    width:350px;
    border-radius:10px;
    margin:10px 10px;
    background:rgb(30, 112, 19);
    padding:10px;
}

.persona-certificada .imagen img{
    height:250px;
    border-radius:10px;
}

.persona-certificada .comentario {
    word-break: break-all;
}


input[type="text"] {
    width:100%;
    padding:15px;
    margin:5px 0;
    border:none;
    border-bottom:5px solid rgb(19, 70, 13);
}

section .content .section-title {
    text-align:center;
}

.btn-submit {
    width:100%;
    padding:15px;
    background:rgb(64, 233, 46);
    color:white;
    border:none;
    border-bottom:5px solid rgb(19, 70, 13);
}

footer {
    padding:40px;
    background:#202020;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .rights {
    text-align:center;
    width:650px;
    color:white;
}

footer .rights img {
    height:20px;
}

.aliados img {
    height:100px !important;
}

.legal {
    list-style: none;
}

.legal li {
    display:inline-block;
    margin:5px 5px;
}

.legal li a {
    color:white;
    text-decoration:none;
}


.loading {
    width:100%;
    height:100%;
    color:white;
    position:fixed;
    background:rgb(73, 151, 53);
    display:flex;
    align-items:center;
    justify-content: center;
    z-index:99999;
}

.loading img {
    border-radius:50%;
}

.loading .content {
    text-align:center;
}

@media screen and (max-width:1150px) {
    .desktop-nav {
        display:none;
    }

    .movil-nav {
        display:block;
    }
}