
 @import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior:smooth; }

body {
  font-family: 'Padauk', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0; }

a {
  color: #ff00cc;
  transition: all .3s ease-in-out; }

a:focus,
button:focus {
  outline: none; }

.btn:hover,
a:hover {
  text-decoration: none;
  color: #333399; }

img {
  max-width: 100%; }

.bg-fixed {
  background-size: cover; }

.bg-grey {
  background-color: #f7f8f9; }

.fs-40 {
  font-size: 40px; }

section {
  position: relative; }

.section-content {
  padding-top: 80px;
  padding-bottom: 80px; }

.title-wrap,
.section-title {
  text-align: center; }

.shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 80, 98, 0.24), 0 2px 4px 0 rgba(67, 80, 98, 0.1) !important; }

.header-navbar {
  background:transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); 
}

.movimiento {
  animation-name: load;
  animation-duration: 2s;

}

.header-scroll {
  background:#1f1f1f;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86); 
}

.navbar-brand {
  font-size: 40px;
  color: #000; }

.navbar-nav .nav-link {
  background:transparent;
  color: #fff;
  transition: .3s ease; }

.navbar-nav:hover li a {
  opacity: 0.5; }
  .navbar-nav:hover li a:hover {
    opacity: 1;
    background:#1f1f1f;
    border-radius:15px; }

.navbar-toggler {
  font-size: 2rem;
  color: #fff; }

.jumbotron {
  color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color:black;
  background:#4755ee;
  margin:0 !important;
  padding:0 !important;
  overflow: hidden;
  min-height: 100vh; }
  @media (max-width: 767px) {
    .jumbotron {
      min-height: 5px;
    }}
  .jumbotron .container {
    position: relative;
    z-index: 1; }
  .jumbotron:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('img/parallax/bg.png');
    background-position: center;
    background-size:100%;}
  .jumbotron h1 {
    line-height: .9;
    font-weight: bold;
    display: inline-block;
    border: 15px solid #fff;
    padding: 30px;
    font-size: 9rem;
    opacity: 0;
    animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
    animation-delay: .8s; }

.parallax {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:100vh;
  margin:0;
}


.parallax img {
  position: absolute;
}

form {
  position:absolute;
  top:20%;
  background:white;
  padding:20px;
  margin:10px;
  width:350px;
  color:black;
  z-index:3;
}

.other-logins {
  display:flex;
  justify-content: center;
  align-items:center;
  padding:5px;
  width:100%;
}

.google {
  margin:10px;
  background-color:#f1f3f6;
  background-image: url('../img/icons/google.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  display:block;
}

.facebook {
  margin:10px;
  background-color:#3d5a98;
  background-image: url('../img/icons/facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding:10px;
  display:block;
}

.git {
  margin:10px;
  background-color:#221e1b;
  background-image: url('../img/icons/git.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 12%), 0 1px 1px 0 rgb(0 0 0 / 24%);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  display:block;
}

input {
  display:block;
  margin: 10px 0;
  padding:10px;
  width:100%;
}


.jumbotron-single h1 {
  font-size: 3rem !important; }

.overlay {
  color: #fff; }
  .overlay:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;}
  .overlay.bg-white {
    color: #000; }
    .overlay.bg-white:before {
      background: #fff;
      opacity: .7; }

.text-white {
  color: #fff; }
.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  padding: 9px 25px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s; }

.btn-primary {
  display: inline-block;
  background-color: #ff00cc;
  border-color: #ff00cc;
  color: #fff; }
  .btn-primary:hover {
    background-color: #333399;
    border-color: #333399;
    color: #fff; }

.btn-outline-primary {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff; }
  .btn-outline-primary:hover {
    background-color: #333399;
    border-color: #333399;
    color: #fff; }

.btn-shadow {
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15); }

.btn-icon {
  color: #000; }

.btn-link {
  color: #ff00cc; }
.rectangle-1 {
  width: 2000px;
  height: 400px;
  background: #8E2DE2;
  background: #1f1f1f;
  background: #1f1f1f;
  transform-origin: 50% 150% 0;
  position: absolute;
  left: 0;
  z-index: 0;
  transform: scale(1) rotate(-10deg); }

.rectangle-2 {
  width: 2000px;
  height: 400px;
  background: #8E2DE2;
  background: -webkit-#1f1f1f;
  background: #1f1f1f;
  transform-origin: 65% 100% 0;
  position: absolute;
  right: 0;
  z-index: 0;
  transform: scale(1) rotate(50deg); }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-15deg); }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg); } }

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg); }
  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg); } }

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg); }
  to {
    opacity: 1;
    transform: scale(1) rotate(50deg); } }

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.rectangle-1 {
  opacity: 0;
  animation: grow1 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }

.rectangle-2 {
  opacity: 0;
  animation: grow2 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important; }

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite; }

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite; }

.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  left: 5%;
  top: 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite; }

.circle-2 {
  width: 70px;
  height: 70px;
  top: 20%;
  left: 83%;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }

.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg); }
  25% {
    transform: translate(5%, 15%) rotate(25deg); }
  50% {
    transform: translate(10%, 5%) rotate(25deg); }
  75% {
    transform: translate(0%, 15%) rotate(25deg); }
  100% {
    transform: translate(0%, 0%) rotate(25deg); } }

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg); }
  25% {
    transform: translate(1%, 3%) rotate(25deg); }
  50% {
    transform: translate(2%, 1%) rotate(25deg); }
  75% {
    transform: translate(0%, 3%) rotate(25deg); }
  100% {
    transform: translate(0%, 0%) rotate(25deg); } }

.triangle {
  position: absolute; }

.triangle-1 {
  right: 0;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite; }
  .triangle-1 img {
    height: 50px;
    width: 50px;
    transform: rotate(30deg); }

.triangle-2 {
  top: 30%;
  left: 20%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite; }
  .triangle-2 img {
    width: 75px;
    height: 75px;
    transform: rotate(15deg); }

.triangle-3 {
  top: 80%;
  left: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite; }
  .triangle-3 img {
    width: 45px;
    height: 45px;
    transform: rotate(40deg); }

.triangle-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite; }
  .triangle-4 img {
    width: 45px;
    height: 45px;
    transform: rotate(-40deg); }
.feature-item {
  transition: all .2s ease-in-out 0s !important; }
  .feature-item:hover {
    transform: translateY(-13px); }

.progress-bar {
  background-color: #ff00cc; }
.testi-img img {
  height: 60px;
  width: 60px !important;
  border-radius: 50%;
  display: inline-block !important; }

.testi-details {
  text-align: left; }

.testi-text {
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 50px; }

.testi-icon {
  color: #ff00cc; }

.testi-content {
  margin-top: 80px;
  padding-bottom: 80px; }

.testi-item {
  margin-left: 15px;
  margin-right: 15px; }

.owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  cursor: pointer; }
  .owl-dot span {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: rgba(255, 0, 204, 0.3);
    text-indent: -999em;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
    -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease;
    transition: box-shadow 0.3s ease, background-color 0.3s ease; }
  .owl-dot.active > span {
    background-color: transparent;
    box-shadow: 0 0 0 2px #ff00cc; }

.owl-dots {
  position: absolute;
  bottom: 0;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  clear: both;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.heading-section {
  position: relative; }

.filter-button-group {
  margin-bottom: 15px; }
  .filter-button-group a {
    margin: 5px;
    cursor: pointer; }

.grid-link a {
  margin: 5px;
  font-size: 20px;
  color: #000; }

.grid-portfolio {
  overflow: hidden; }

.gutter-sizer {
  width: 2%; }

.grid-sizer,
.grid-item {
  width: 32%; }

.grid-item {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden; }
  .grid-item:hover .grid-info {
    top: 50%;
    opacity: 1; }

.grid-item-wrapper:before {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
  opacity: 0; }

.grid-item-wrapper:hover:before {
  opacity: 1; }

.grid-info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease; }

.lightcase-icon-close:before {
  content: '\e870';
  font-family: "Linearicons-Free"; }

.grid-title {
  text-align: center; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff; }

.sidenav-content {
  padding: 8px 32px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.in .sidenav-content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s, opacity 0.5s 0.5s; }

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav #side-nav-close,
.sidenav #side-search-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; }
  
  .parallax {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:500px;
  margin:0;
  } }

#side-search .form-control {
  background-color: transparent; }

#side-search .input-group-text {
  background: transparent;
  color: #fff; }

.skill-item {
  width: 100%;
  position: relative;
  padding: 10px 0; }
  .skill-item p {
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500; }
  .skill-item .text-muted {
    color: #939393; }

.progress-bar, .progress {
  transition: all 4s; }

.blog-item {
  transition: all 0.3s ease-in-out;
  background-color: #f7f8f9;
  border-radius: 3px;
  overflow: hidden; }
  .blog-item:hover {
    box-shadow: 0 5px 15px -5px #333;
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15); }

.bg-grey .blog-item {
  background-color: #fff; }

.blog-item-wrapper {
  margin-bottom: 30px; }

.blog-img img {
  width: 100%;
  height: 250px;
  object-fit: cover; }

.blog-title h4 {
  color: #000; }

.blog-text {
  padding: 15px; }

.blog-tag {
  color: #000;
  letter-spacing: 1.1px;
  text-transform: uppercase; }

.blog-meta {
  color: #939393; }
  .blog-meta p {
    display: inline-block;
    font-size: 14px; }
  .blog-meta a {
    color: #939393; }

.blog-author {
  display: inline-block;
  color: #939393; }
  .blog-author p {
    font-size: 14px;
    margin-bottom: 0; }

.blog-share-wrapper {
  float: right;
  display: inline-block;
  margin: 0 -5px; }
  .blog-share-wrapper .blog-share {
    padding: 0 5px;
    cursor: pointer; }

.blog-content img.float-left {
  margin: 15px 15px 15px 0; }

.blog-content .img.float-right {
  margin: 15px 0 15px 15px; }


.form-control:focus {
  border-color: #ff00cc;
  box-shadow: 0 0 0 0.2rem rgba(253, 101, 90, 0.25); }

.form-control::-webkit-input-placeholder {
  opacity: .5; }

.form-control::-moz-placeholder {
  opacity: .5; }

.form-control:-ms-input-placeholder {
  opacity: .5; }

.form-control::-ms-input-placeholder {
  opacity: .5; }

.form-control::placeholder {
  opacity: .5; }


.client-slider .owl-nav {
  display: none; }

.client-slider .client-item {
  padding: 0 40px; }

@media (max-width: 992px) {
  .not-on-top .header-navbar {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background: #ff00cc;
    background: #1f1f1f;
    background: #1f1f1f;
    z-index: 11; }
  .header-navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important; }
  .navbar-transparent .navbar-collapse {
    background: #ff00cc;
    background: #1f1f1f;
    background: #1f1f1f;
    padding: 10px; }
  .parallax {
    
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:500px;
  margin:0;
  } }

@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 6rem; }
    .parallax {
      
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:500px;
  margin:0;
    }
  .grid-item {
    width: 100%; }
  .progress {
    height: 30px;
    font-size: 16px; } }

    @keyframes floating {
      0% { transform: translate(0,  0px); }
      50%  { transform: translate(0, 15px); }
      100%   { transform: translate(0, -0px); }   
  }

  @keyframes load {
    0% {transform:translate(0, 500px);}
    50% {transform:translate(0, 200px);}
    100% {transform:translate(0, 0px);}
  }

  .line {
    width:250px;
    height:5px;
    background:#fff;
  }


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 50px 20px 50px;
  color: #fff;
  background-color: #1f1f1f;
  border-top: 1px solid #1f1f1f;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #fff;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #fff;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}