<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<script src="/js/ws/WebSocket.js"></script>
		{{{body}}}
		<script src="/js/ws/handlers.js"></script>
		{{#if success}}
		<script>alert("{{success}}")</script>
		{{/if}}
		{{#if error}}
		<script>alert("{{error}}")</script>
		{{/if}}
	</body>
</html>