<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<script src="/js/ws/WebSocket.js"></script>
		{{{body}}}
		<script src="/js/ws/handlers.js"></script>
	</body>
</html>