<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bcbd698376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/donar.css">
    <title>Clynet Academy</title>
</head>
<body>
    <div class="loading">
        <div class="content">
            <img src="./img/logo.png" alt="Clynet ROOM">
            <h1>¡Formando Desarrolladores!</h1>
        </div>
    </div>
    <nav class="movil-nav">
        <div class="brand">
            <a href="/index">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <div class="open-menu">
            <a class="open">
                <img src="./img/menu.svg" alt="Menu">
            </a>
        </div>
        <div class="menu-open">
            <ul class="movil-nav-list">
                <li><a href="/costos">Costos</a></li>
                <li><a target="_blank" href="https://wa.me/3023714981?text=Estoy%20interesado%20en%20Clynet%20Academy!">Inscribirme</a></li>
                <li><a href="/certificados">Certificados</a></li>
                <li><a href="/donate">Apoyar</a></li>
                <li><a href="#">Portal de Estudiantes</a></li>
            </ul>
        </div>
    </nav>
    <nav class="desktop-nav">
        <div class="brand">
            <a href="/index">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <ul class="nav-list">
            <li><a href="/costos">Costos</a></li>|
            <li><a target="_blank" href="https://wa.me/3023714981?text=Estoy%20interesado%20en%20Clynet%20Academy!">Inscribirme</a></li>|
            <li><a href="/certificados">Certificados</a></li>|
            <li><a href="/donate">Apoyar</a></li>|
            <li><a href="#">Portal de Estudiantes</a></li>
        </ul>
    </nav>

    <div class="header-content">
        <div class="overlay">
            <div class="content">
                <div class="guia">
                    <h1 id="texto">¡Hola!, Dejame explicarte algo</h1>
                    <button id="donate" onclick="window.location.href='https://paypal.me/clynet'">¡Claro que Sí!</button>
                    <span class="navigate">Click para Continuar</span>
                </div>
            </div>
        </div>
        <img class="footer-img" src="https://cefonodelsur.com/wp-content/uploads/2021/07/nubes.png" alt="Nubes">
    </div>

    <footer>
        <div class="rights">
            <img src="./img/footer.png" alt="Footer"><br>
            <p>Copyright © 2022 - ALL RIGHTS RESERVED.</p>
            <div class="aliados">
                <img src="./img/google.png" alt="">
                <img src="./img/facebook.png" alt="">
                <img src="./img/mdn.png" alt="">
            </div>
            <hr>
            <p>Aliados para ofrecerte gran contenido detallado</p>
            <ul class="legal">
                <li><a href="#">Terminos & Condiciones</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
                <li><a href="#">Politica de Cookies</a></li>
                <li><a href="#">Contenido Legal</a></li>
            </ul>
        </div>
    </footer>
    <script src="../js/query.js"></script>
    <script src="../js/donate.main.js"></script>
</body>
</html>