<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bcbd698376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/certificados.css">
    <title>Clynet Academy</title>
</head>
<body>
    <div class="loading">
        <div class="content">
            <img src="./img/logo.png" alt="Clynet ROOM">
            <h1>¡Formando Desarrolladores!</h1>
        </div>
    </div>
    <nav class="movil-nav">
        <div class="brand">
            <a href="/index">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <div class="open-menu">
            <a class="open">
                <img src="./img/menu.svg" alt="Menu">
            </a>
        </div>
        <div class="menu-open">
            <ul class="movil-nav-list">
                <li><a href="/costos">Costos</a></li>
                <li><a target="_blank" href="https://wa.me/3023714981?text=Estoy%20interesado%20en%20Clynet%20Academy!">Inscribirme</a></li>
                <li><a href="/certificados">Certificados</a></li>
                <li><a href="/donate">Apoyar</a></li>
                <li><a href="#">Portal de Estudiantes</a></li>
            </ul>
        </div>
    </nav>
    <nav class="desktop-nav">
        <div class="brand">
            <a href="/index">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <ul class="nav-list">
            <li><a href="/costos">Costos</a></li>|
            <li><a target="_blank" href="https://wa.me/3023714981?text=Estoy%20interesado%20en%20Clynet%20Academy!">Inscribirme</a></li>|
            <li><a href="/certificados">Certificados</a></li>|
            <li><a href="/donate">Apoyar</a></li>|
            <li><a href="#">Portal de Estudiantes</a></li>
        </ul>
    </nav>
    <section id="graduated">
        <div class="section-title">
            <h1 style="text-align:center;">Personas que se han certificado con Clynet Academy:</h1>
        </div>
        <div class="search">
            <div class="certificado-nav">
                <form class="certificado-form" action="">
                    <h1>Busqueda por nombre</h1>
                    <input type="text" name="user" id="user" placeholder="¿Qué persona quieres encontrar?" required>
                    <input class="btn-submit" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    <div class="container">
        
        <div class="certificados">
            <div class="persona-certificada">
                <div class="imagen">
                    <img src="https://pps.whatsapp.net/v/t61.24694-24/267799849_1599338627111816_1308198255665336559_n.jpg?ccb=11-4&oh=b9ac32a6936dec9c407c7400973788d0&oe=62931352" alt="Santiago Rodriguez Gomez">
                </div>
                <div class="nombre">
                    <h4>Santiago Rodriguez</h4>
                </div>
                <div class="modulo">
                    <p>Modulo Culminado: Desarrollo Web</p>
                </div>
                <hr>
                <div class="comentario">
                    <i>"12345678910111213141516171819202120232425262728293031323334353637383940"</i>
                </div>
            </div>
            <div class="persona-certificada">
                <div class="imagen">
                    <img src="https://pps.whatsapp.net/v/t61.24694-24/267799849_1599338627111816_1308198255665336559_n.jpg?ccb=11-4&oh=b9ac32a6936dec9c407c7400973788d0&oe=62931352" alt="Santiago Rodriguez Gomez">
                </div>
                <div class="nombre">
                    <h4>Santiago Rodriguez</h4>
                </div>
                <div class="modulo">
                    <p>Modulo Culminado: Desarrollo Web</p>
                </div>
                <hr>
                <div class="comentario">
                    <i>"12345678910111213141516171819202120232425262728293031323334353637383940"</i>
                </div>
            </div>
            <div class="persona-certificada">
                <div class="imagen">
                    <img src="https://pps.whatsapp.net/v/t61.24694-24/206729462_435163574976664_3938473351542553164_n.jpg?ccb=11-4&oh=01_AVyfzvv0JYgMX0IYElIDAB_xMgjve_lZ4ZXc4U0L8JdHtA&oe=628FE349" alt="Santiago Morales">
                </div>
                <div class="nombre">
                    <h4>Santiago Morales</h4>
                </div>
                <div class="modulo">
                    <p>Modulo Culminado: Desarrollo Web</p>
                </div>
                <hr>
                <div class="comentario">
                    <i>"12345678910111213141516171819202120232425262728293031323334353637383940"</i>
                </div>
            </div>
            <div class="persona-certificada">
                <div class="imagen">
                    <img src="https://pps.whatsapp.net/v/t61.24694-24/206729462_435163574976664_3938473351542553164_n.jpg?ccb=11-4&oh=01_AVyfzvv0JYgMX0IYElIDAB_xMgjve_lZ4ZXc4U0L8JdHtA&oe=628FE349" alt="Santiago Morales">
                </div>
                <div class="nombre">
                    <h4>Santiago Morales</h4>
                </div>
                <div class="modulo">
                    <p>Modulo Culminado: Desarrollo Web</p>
                </div>
                <hr>
                <div class="comentario">
                    <i>"12345678910111213141516171819202120232425262728293031323334353637383940"</i>
                </div>
            </div>
        </div>
    </div>
    </section>
    <footer>
        <div class="rights">
            <img src="./img/footer.png" alt="Footer"><br>
            <p>Copyright © 2022 - ALL RIGHTS RESERVED.</p>
            <div class="aliados">
                <img src="./img/google.png" alt="">
                <img src="./img/facebook.png" alt="">
                <img src="./img/mdn.png" alt="">
            </div>
            <hr>
            <p>Aliados para ofrecerte gran contenido detallado</p>
            <ul class="legal">
                <li><a href="#">Terminos & Condiciones</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
                <li><a href="#">Politica de Cookies</a></li>
                <li><a href="#">Contenido Legal</a></li>
            </ul>
        </div>
    </footer>
    <script src="./js/query.js"></script>
</body>
</html>