<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bcbd698376.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">
    <title>Clynet Academy</title>
</head>
<body>
    <div class="loading">
        <div class="content">
            <img src="./img/logo.png" alt="Clynet ROOM">
            <h1>Formando Desarrolladores!</h1>
        </div>
    </div>
    <nav class="movil-nav">
        <div class="brand">
            <a href="#">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <div class="open-menu">
            <a class="open">
                <img src="./img/menu.svg" alt="Menu">
            </a>
        </div>
        <div class="menu-open">
            <ul class="movil-nav-list">
                <li><a href="#">Costos</a></li>
                <li><a href="#">Inscribirme</a></li>
                <li><a href="#">Certificados</a></li>
                <li><a href="#">Apoyar</a></li>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">Portal de Estudiantes</a></li>
            </ul>
        </div>
    </nav>
    <nav class="desktop-nav">
        <div class="brand">
            <a href="#">
                <img src="./img/logo.png" alt="Clynet ROOM">
            </a>
        </div>
        <ul class="nav-list">
            <li><a href="#">Costos</a></li>|
            <li><a href="#">Inscribirme</a></li>|
            <li><a href="#">Certificados</a></li>|
            <li><a href="#">Apoyar</a></li>|
            <li><a href="#">¿Quienes somos?</a></li>|
            <li><a href="#">Portal de Estudiantes</a></li>
        </ul>
    </nav>
    <div class="head-banner">
        <div class="overlay">
            <div class="data">
                <h1>APRENDE SISTEMAS CON NOSOTROS</h1>
                <hr>
                <br>
                <a class="btn_ins" href="#">¡INSCRIBIRME AHORA!</a>
            </div>
        </div>
    </div>
    <section id="info">
        <div class="content">
            <div class="section-title">
                 <h1>¿Por qué Elegirnos?</h1>
            </div>
            <div class="articles">
                <div class="article">
                    <img src="./img/soporte.svg" alt="Soporte">
                    <br>
                    <br>
                    <span>Soporte las 24/7 para atender tus dudas</span>
                </div>
                <div class="article">
                    <img src="./img/seguridad.svg" alt="Seguridad">
                    <br>
                    <br>
                    <span>Tú información estara totalmente segura</span>
                </div>
                <div class="article">
                    <img src="./img/gratis.svg" alt="Gratis">
                    <br>
                    <br>
                    <span>Totalmente gratis el primer modulo!</span>
                </div>
            </div>
        </div>
    </section>
    <section id="modulos">
        <div class="content">
            <div class="section-title">
                <h1>Modulos</h1>
            </div>
            <div class="container">
                <div class="buttons">
                    <div class="button">
                        <img src="./img/windows.svg" alt="Windows">
                        <br>
                        <span>Dominio de Windows</span>
                        <br>
                        <b>100% Virtual</b>
                    </div>
                    <div class="button">
                        <img src="./img/code.svg" alt="Windows">
                        <br>
                        <span>Desarrollo de Aplicaciones</span>
                        <br>
                        <b>100% Virtual</b>
                    </div>
                    <div class="button">
                        <img src="./img/hardware.svg" alt="Windows">
                        <br>
                        <span>Soporte para Hardware</span>
                        <br>
                        <b>100% Virtual</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="stats">
        <div class="content">
            <div class="section-title">
                <h1>Nuestras estadisticas</h1>
            </div>
            <div class="stats">
                <div class="stat">
                    <img src="./img/estudiantes.svg" alt="Estudiantes">
                    <br>
                    <b>33 Estudiantes</b>
                </div>
                <div class="stat">
                    <img src="./img/certificados.svg" alt="Certificados">
                    <br>
                    <b>0 Estudiantes Certificados</b>
                </div>
                <div class="stat">
                    <img src="./img/modulos.svg" alt="Modulos">
                    <br>
                    <b>3 Modulos de clases</b>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto">
        <div class="content">
            <div class="section-title">
                <h1>Contactanos</h1>
            </div>
            <a target="_BLANK" href="https://wa.me/3023714981?text=Estoy%20interesado%20en%20Clynet%20Academy!">
               <img src="./img/whatsapp.svg" alt="Whatsapp">
               <br>
               Click al icono para contactarnos por Whatsapp!
               <br>
               <br>
            </a>
        </div>
    </section>
    <footer>
        <div class="rights">
            <img src="./img/footer.png" alt="Footer"><br>
            <p>Copyright © 2022 - ALL RIGHTS RESERVED.</p>
            <div class="aliados">
                <img src="./img/google.png" alt="">
                <img src="./img/facebook.png" alt="">
                <img src="./img/mdn.png" alt="">
            </div>
            <hr>
            <p>Aliados para ofrecerte gran contenido detallado</p>
            <ul class="legal">
                <li><a href="#">Terminos & Condiciones</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
                <li><a href="#">Politica de Cookies</a></li>
                <li><a href="#">Contenido Legal</a></li>
            </ul>
        </div>
    </footer>
    <script src="./js/query.js"></script>
</body>
</html>