<center>
    <span>Intorduce tu tag</span>
    <br>
    <input type="text" id="tag-input" placeholder="Introduce tu tag...">
    <br>
    <span>Envianos un mensaje en tu solicitud</span>
    <br>
    <textarea id="message-input" maxlength="120" placeholder="Escribe un mensaje..."></textarea>
    <br>
    <button id="submit-btn" type="button" onclick="sendForm('tag-input', 'message-input', 'submit-btn', '{{ip}}')">Enviar</button>
    <br>
    <p>Al enviar esta solicitud, aceptas que tu IP ({{ip}}) sea registrada por motivos de seguridad</p>
</center>
<style>
    #message-input {
        width: auto;
        height: auto;
    }
</style>
<script src="/js/RegisterManager.js"></script>
